/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 10px;
    background-color:#334059;
}

body {
    width: 10%;
    min-width: 800px;
    margin: 0 auto;
  }
  /* || header layout */
  
header{
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    background-color:#2D2D5E;
}

h1 {
    flex: 5;
    text-transform: uppercase;
    font-family: 'Simonetta', cursive;
    color: #8970B5;
    text-align: left;
}

  /* || main layout */

.wrapper{
    display: flex;
}

.container{
    min-width: 960px;
}

.image{

}

.list{

}

h2{

}

.job{

}

div{
    display: block;
}

.desc{

}

.respons{

}

.desc{

}

ol{

}

ul{

}

li{

}