html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
   
  }
  
  header{

}

.wrapper{

}

.container{

}

.image{

}

.list{

}

h1, h2{

}

.job{

}

.desc{

}

.respons{

}

.desc{

}

ol{

}

ul{

}

li{

}